@media screen and (max-width: 480px) {
    
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    
}
@media screen and (min-width: 1201px) {
}
.Ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Ticket-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;
    background-color: #e3b6894f;
    border-radius: 0.5em;
    padding: 2em 5em 2em 1.3em;
}
.Ticket-form>input {
    text-decoration: none;
    border: none;
    padding: 0.6em 0.2em;
    margin-bottom: 0.5em;
}
.Ticket-form>textarea {
    text-decoration: none;
    border: none;
    margin-bottom: 0.5em;
    resize: none;
}
.Ticket-form>.Ticket-show-materiel {
    margin: 2em 0em 0.5em;
    text-decoration: none;
    border: none;
    padding: 0.5em 1.25em;
    cursor: pointer;
}
.Ticket-form>.Ticket-show-materiel:hover {
    color: white;
}
.Ticket-form>.Ticket-submit {
    margin-top: 2em;
    align-self: flex-end;
    cursor: pointer;
}
.Ticket-date>input {
    text-decoration: none;
    border: none;
    padding: 0.2em 0.45em;
    margin-bottom: 0.15em;
    align-self: right;
}
.Ticket-materiel {
    width: 100%;
}