.InputText {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.ButtonForm {
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  margin: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.ButtonForm:hover {
  padding: 0.3rem 0.6rem;
  border: 1px solid gray;
}
.orange {
  background-color: #d9534f;
}
.black {
  background-color: #131921;
}
.green {
  background-color: #5cb85c;
}
.blue {
  background-color: #5bc0de;
}
.red {
  background-color: #d9534f;
}