.InputText {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.ButtonForm {
  text-decoration: none;
  margin: 0.5rem;
  text-decoration: none;
  border: none;
  color: white;
  padding: 1em 1.75em;
}
.ButtonForm:hover {
  background-color: #55b155;
}
.orange {
  background-color: #FF7E47;
}
.black {
  background-color: #131921;
}
.green {
  background-color: #5cb85c;
}
.blue {
  background-color: #5bc0de;
}
.red {
  background-color: #d9534f;
}
.dark-blue{
  background-color: #232f3e;
  color:white;
}
.orange-transparent {
  background-color: #e3b6894f;
}
.white-transparent {
  background-color: #ffffffc0;
}